/* Custom Tutor IP */
@media(max-width:991px){
    .tutor-dashboard-info-card {
      width: 100%;
  }
  .tutor-course-col-3{
    width: 100%!important;
  }
  .tutor-col-4{
    min-width: 100%;
  }
}
@media (min-width: 992px){
  .tutor-template-segment.tutor-login-wrap {
      margin-top: 110px;
      margin-bottom: 110px;
  }
  .tutor-container {
      margin-top: 30px;
  }
  .tutor-single-course-sidebar {
      position: sticky;
      top: 100px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 13px 13px rgba(0, 0, 0, .2)!important;
  }
  a.tutor-lesson-sidebar-hide-bar {
      display: inline-block!important;
  }
  .tutor-col-4 {
      margin-top: -328px;
  }
  .tutor-single-course-segment.tutor-single-course-lead-info {
      padding-left: 34%;
  }
  .tutor-course-content-ul {
      list-style: none;
      display: block;
      overflow: hidden;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      margin: 0;
  }
  .tutor-single-course-meta.tutor-lead-meta ul li, .tutor-single-course-meta.tutor-lead-meta ul li a, .tutor-course-header-h1, .tutor-single-course-lead-info{
    color: #fff!important;
  }
  .tutor-single-course-meta.tutor-meta-top span, .tutor-single-course-meta.tutor-meta-top a, .tutor-single-course-meta.tutor-meta-top strong, .tutor-single-course-meta.tutor-meta-top li {
      color: #fff!important;
  }
  .tutor-course-col-3{
    width: 50%!important;
  }
}
@media(min-width:1500px){
  .tutor-course-col-3{
    width: 33.3%!important;
  }
}

.mx-a {
    margin-left: auto;
    margin-right: auto;
}
.tutor-container {
    margin-bottom: 30px;
}
.tutor-course-status {
    background: #fff;
    border-radius: 5px;
}
a.tutor-lesson-sidebar-hide-bar {
    display: none;
}
.tutor-single-lesson-wrap {
    min-height: 75vh;
}
.tutor-sidebar-tabs-wrap {
    box-shadow: 0px -5px 13px rgba(0, 0, 0, .2), 0px 13px 13px rgba(0, 0, 0, .2);
}
.tutor-course-archive-filters-wrap, .tutor-course-archive-filters-wrap, .tutor-course-archive-filters-wrap form, .tutor-course-archive-filters-wrap select {
    max-width: 100%;
}
.tutor-course.tutor-course-loop{
    box-shadow: 0px -5px 13px rgba(0, 0, 0, .2);
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart::before {
    display: none;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    padding: 10px;
}
span.result-pass, .result-fail{
  min-width: 130px;
}
.tutor-course-loop-price {
    font-size: 20px;
}
.tutor-loop-cart-btn-wrap a::before {
    display: none;
}
.tutor-course-loop-meta {
    float: right;
}
a.write-course-review-link-btn {
    width: 100%;
    text-align: center;
}
.tutor-single-page-top-bar {
    max-width: 100vw;
}
div#tutor-single-entry-content {
    max-width: 100vw;
}
.tutor-price-preview-box {
    background: #fff;
}
del span.woocommerce-Price-amount.amount {
    color: #ccc;
    padding-left: 10px;
}
table.tutor-dashboard-info-table{
  margin: 0;
}
.tutor-dashboard-info-table-wrap{
  overflow: auto;
}
.tutor-row {
    min-height: 47vh;
}
.tutor-wrap{
  min-height: 82vh;
}
