/* Small displays */
@media(max-width:440px){
  .ip-dashboard-header{
    margin-top: -90px;
  }
  .tutor-single-lesson-segment.tutor-lesson-video-wrap {
      border: 1px solid #fff;
  }
  .tutor-row .tutor-col-4 {
      margin-top: -135px;
  }
  .tutor-wrap .tutor-container {

  }
}

/* Breakpoint start mobile */
@media (min-width:580px) {
  .tutor-col-8, .tutor-col-8 h4, .tutor-col-8 h5, .tutor-col-8 h3 a, .tutor-col-8 .tutor-custom-list-style li:before{
    color: #fff!important;
  }
  .tutor-course-a{
    width: 50%;
  }
  .tutor-template-segment.tutor-login-wrap {
      margin-top: 110px;
      margin-bottom: 110px;
  }
}

/* Breakpoint tablet */
@media(max-width:991px){
  .tutor-col-3.tutor-dashboard-left-menu {
      order: 2;
  }
  .bg-ip-lead-info{
    padding-top: 90px!important;
  }
  .tutor-full-width-student-profile {
      padding-top: 220px;
  }
  .tutor-full-width-student-profile .tutor-col-12 {
      margin-top: -98px;
  }
  .bg-ip-lead-info {
      height: 550px;
  }
  .tutor-template-segment.tutor-login-wrap {
      padding-top: 70px;
  }
  .tutor-wrap.tutor-dashboard.tutor-dashboard-student {
      border-top: 215px solid transparent!important;
  }
  .tutor-col-8.tutor-col-md-100 {
      color: #fff;
  }
    .tutor-dashboard-info-card {
      width: 100%;
  }
  .tutor-course-col-3{
    width: 100%!important;
  }
  .tutor-col-4{
    min-width: 100%;
  }
  .tutor-dashboard-header-avatar, .tutor-dashboard-header-button {
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
  }
  .tutor-dashboard-header-info {
      padding: 10px;
      text-align: center;
  }
  .tutor-dashboard-header-info .tutor-dashboard-header-stats {
      display: block;
  }
}

/* Breakpoint start desktop */
@media (min-width: 992px){
  .tutor-single-lesson-tabs-wrap{
      position: sticky;
      top: 90px;
      overflow: auto;
      max-height: 87vh;
  }
  .tutor-col-8.tutor-col-md-100 {
      z-index: -1;
  }
  .tutor-course-a{
    width: 35%;
  }
  .single-instructor-wrap .tutor-instructor-left{
    padding-right: 30px;
  }
  .tutor-wrap, .tutor-single-lesson-wrap{
    border-top: 70px solid transparent!important;
  }
  .tutor-dashboard-header{
    padding: 30px;
  }
  .tutor-container {
      margin-top: 30px;
  }
  .tutor-single-course-sidebar {
      position: sticky;
      top: 100px;
      background: #fff;
      box-shadow: 0px 13px 13px rgba(0, 0, 0, .2)!important;
  }
  a.tutor-lesson-sidebar-hide-bar {
      display: inline-block!important;
  }
  .tutor-col-4 {
      margin-top: -328px;
  }
  .tutor-single-course-segment.tutor-single-course-lead-info {
      padding-left: 34%;
  }
  .tutor-course-content-ul {
      list-style: none;
      display: block;
      overflow: hidden;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      margin: 0;
  }
  .tutor-course-col-3{
    width: 50%!important;
  }
  .tutor-price-preview-box {
      border: none;
  }
}
/* Breakpoint desktop */
@media(min-width:1500px){
  .tutor-course-col-3{
    width: 33.3%!important;
  }
}

/* All sizes */
.tutor-single-course-meta.tutor-lead-meta ul li, .tutor-single-course-meta.tutor-lead-meta ul li a, .tutor-course-header-h1, .tutor-single-course-lead-info, .tutor-single-course-meta.tutor-meta-top span, .tutor-single-course-meta.tutor-meta-top a, .tutor-single-course-meta.tutor-meta-top strong, .tutor-single-course-meta.tutor-meta-top li{
  color: #fff!important;
}
.mx-a {
    margin-left: auto;
    margin-right: auto;
}
.tutor-container {
    margin-bottom: 30px;
}
.tutor-course-status {
    background: #fff;
    border-radius: 5px;
    order: 1;
}
a.tutor-lesson-sidebar-hide-bar {
    display: none;
}
.tutor-single-lesson-wrap {
    min-height: 100vh;
}
.tutor-lesson-sidebar {
    box-shadow: 0px -5px 13px rgba(0, 0, 0, .2), 0px 13px 13px rgba(0, 0, 0, .2);
}
.tutor-course-archive-filters-wrap, .tutor-course-archive-filters-wrap, .tutor-course-archive-filters-wrap form, .tutor-course-archive-filters-wrap select {
    max-width: 100%;
}
.tutor-course.tutor-course-loop{
    box-shadow: 0px -5px 13px rgba(0, 0, 0, .2);
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart::before {
    display: none;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    padding: 10px;
}
span.result-pass, .result-fail{
  min-width: 130px;
}
.tutor-course-loop-price {
    font-size: 20px;
}
.tutor-loop-cart-btn-wrap a::before {
    display: none;
}
.tutor-course-loop-meta {
    float: right;
}
a.write-course-review-link-btn {
    width: 100%;
    text-align: center;
}
.tutor-single-page-top-bar {
    max-width: 100vw;
}
div#tutor-single-entry-content {
    max-width: 100vw;
}
.tutor-price-preview-box {
    background: #fff;
}
del span.woocommerce-Price-amount.amount {
    color: #ccc;
    padding-left: 10px;
}
table.tutor-dashboard-info-table{
  margin: 0;
}
.tutor-dashboard-info-table-wrap{
  overflow: auto;
}
.tutor-col-8 {
    padding: 30px!important;
}
form.tutor-ResetPassword.lost_reset_password {
    padding: 50px 20px;
}
.tutor-dashboard .tutor-container {
    background: rgba(0,0,0,0.5);
}
.mce-panel.mce-fullscreen {
    margin-top: 100px;
}
.tutor-single-lesson-segment.tutor-lesson-video-wrap {
    border: 1px solid #fff;
}
.tutor-template-segment.tutor-login-wrap {
    background: #fff;
}
.instructor-bio.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.tutor-dashboard-info-cards .tutor-dashboard-info-card p{
    box-shadow: 0px 13px 13px rgba(0, 0, 0, .2)!important;
}
.tutor-single-lesson-segment.tutor-lesson-video-wrap {
    max-width: 125vh;
    margin-left: auto;
    margin-right: auto;
}
.tutor-dashboard-content, .tutor-dashboard-header-ratings span, .tutor-pagination-wrap a, .tutor-course-archive-results-wrap {
  color: #fff
}
table.tutor-dashboard-info-table td, .tutor-quiz-attempt-history {
    color: #000;
}
.tutor-login-rememeber-wrap p label, .tutor-login-rememeber-wrap a, p.tutor-form-register-wrap a, .tutor-dashboard-content .tutor-quiz-attempt-history table tr td strong {
    color: #000!important;
}
p.tutor-form-register-wrap {
    background: transparent!important;
    border: 1px #000 solid;
    padding: 11px;
    border-radius: 5px;
}
.tutor-lesson-content-area h2 {
    margin-top: 74px!important;
}
button.course-complete-button.tutor-button {
    width: 100%;
    margin-top: 67px;
    display: block;
}
.tutor-meta.tutor-course-metadata{
  order:2;
}
a.tutor-mycourse-edit{
  display: none;
}
a.tutor-mycourse-delete-btn {
    margin-left: auto;
}
.tutor-price-preview-box .woocommerce-message, .tutor-price-preview-box .woocommerce-error {
    visibility: hidden;
    padding: 1em 0;
    height: 0;
}
.tutor-price-preview-box a.button.wc-forward {
    visibility: visible;
    width: 100%;
    box-shadow: none!important;
    text-align: center;
    padding: 7px 0;
    border: 1px solid;
    border-radius: 5px;
}
.tutor-price-preview-box a.button.wc-forward:hover{
  text-decoration: none;
}
.next-lesson-ip {
    position: absolute;
    right: 20px;
}
.next-lesson-ip a{
    padding: 8px 10px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
}
.tutor-wrap.tutor-courses-wrap.tutor-container {
    border-top: 70px solid transparent;
}
.tutor-pagination-wrap{
  color: #ffa;
}
.tutor-course-loop-title{
  order: 1;
}
.tutor-course-loop-title h2 {
    padding: 0;
}
a.button.product_type_variable.add_to_cart_button {
    padding: 10px!important;
    border-radius: 5px;
}
li.tutor-dashboard-menu-withdraw {
    border-bottom: 1px solid #fff;
}
.tutor-wrap.tutor-courses-wrap.tutor-container {
    margin: 0;
    max-width: inherit;
    min-height: 75vh;
}
